<?xml version="1.0"?>
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" validateRequest="false"/>
  
    <!--<httpHandlers>
      <add verb="POST"
           path="HighchartsExport.axd"
           type="Tek4.Highcharts.Exporting.HttpHandler, Tek4.Highcharts.Exporting"/>
    </httpHandlers>-->
    <httpRuntime requestValidationMode="2.0"/>
    
  </system.web>
  
  <!--<location path="HighchartsExport.axd">
    <system.web> 
      <pages validateRequest="false"/>
    </system.web>
  </location>
  <location path="HighchartsExport.aspx">
    <system.web> 
      <pages validateRequest="false"/>
    </system.web>
  </location>-->
  
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
		</modules>
	</system.webServer>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
		<standardEndpoints>
			<webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true" maxBufferPoolSize="50000000" maxBufferSize="50000000" maxReceivedMessageSize="50000000" transferMode="Streamed">
          <readerQuotas maxDepth="50000000" maxStringContentLength="50000000" maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
        </standardEndpoint>
			</webHttpEndpoint>
		</standardEndpoints>
	</system.serviceModel>

  <!--<appSettings>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </appSettings>-->
</configuration>
